<table class="works-table">
	<tr>
		<th>1.</th>
		<td>
			Fill out your HappyHealth online Form profile, which includes pertinent registration data like name, address, phone number, current medications, allergies and credit card number plus insurance information. You will only have to fill-out this information once!
		</td>
	</tr>
	<tr>
		<th>2.</th>
		<td>
			When you schedule a doctor's appointment, send HappyHealth the following via mobile app, text, or the web: 
			<ul>
				<li><i>the physician's name</i></li>
				<li><i>the physician's office phone number</i></li>
				<li><i>the appointment date and time</i></li>
			</ul>
		</td>
	</tr>
	<tr>
		<th>3.</th>
		<td>
			HappyHealth's sophisticated, cloud-based system reconciles your registration information with the doctor's office for you. If there is additional information required, we can notify you via mobile app, text, email or website for you to conveniently update.
		</td>
	</tr>
	<tr>
		<th>4.</th>
		<td>
			On the day of your appointment, you just walk into the doctor's office, say your name, and have a seat - that's it! No clipboards, excessive paperwork or redundant questioning to deal with. At certain providers you can even have the option of fulfilling your co-pay via the mobile app. It's just that convenient!
		</td>
</table>