<h2>The Team</h2>
<p class="who">
	HappyHealth is comprised of a diverse team of healthcare professionals, with collective backgrounds that include clinical medicine, software design and business administration. We have an intimate understanding of the clinical, technical and business dynamics inherent to healthcare administration; yet we are also thoroughly influenced by the wonderful product design that currently pervades consumer technology. 
</p>

<p class="who">
	Our number one goal is to put you as the patient first, meaning we want to provide our users, whether patients or healthcare providers, with the best experience possible. To that end, we want to provide a fast, secure, and reliable process for transacting personal data during healthcare registration. We are passionate about making HappyHealth the perfect combination of functional value, and top-notch design for all our users. 
</p>