<h2>The Team</h2>
<p class="who">
	HappyHealth is comprised of a diverse team of healthcare entrepreneurs and industry professionals, all with collective backgrounds in clinical care, software design and business administration. We have an intimate understanding of the clinical, technical and business dynamics inherent to healthcare delivery and operations; yet we are also thoroughly influenced by the wonderful product design and functionality that currently permeates consumer web-technology.
</p>
<p class="who">	
	Our number one goal is to put you as the patient first, meaning we want to provide our users with the best healthcare experience possible. Security and exceptional service are our highest priorities, so you can rest assured knowing HappyHealth will provide you with a fast, secure, and reliable process for storing and transferring you healthcare registration data. We are extremely passionate about making HappyHealth a valuable tool to enhance your real-world healthcare experiences.
</p>
<p class="who">	
	Join HappyHealth today, and take your first step in never filling out another doctor's clipboard again!
</p>