<div class="functionality">
	<h3>Convenience</h3>
	<p>
		No more filling-out redundant paperwork, and the excessive printing, faxing and phone-calling to pre-register with a new physician. Fill-out your health registration form once, and it magically starts working for you!
	</p>
</div>

<div class="functionality">
	<h3>Consolidation</h3>
	<p>
		No more struggling to remember your medications or allergies from past doctor visits - consolidate and manage your basic medical info and have it everywhere.
	</p>
</div>

<div class="functionality">
	<h3>Control</h3>
	<p>
		You own your health registration data, meaning when you switch doctors, switch insurance providers, or even <i>move geographically</i>, your data stays with you, and you don’t pay exhorbitant fees to get paper copies and CDs.
	</p>
</div>

<div class="functionality">
	<h3>Security</h3>
	<p>
		Rest safely in knowing your registration data is protected with banking-level security - only those pertinent to your care access your information, and you can receive reports on <i>what</i> has been accessed, and <i>when</i>.
	</p>
</div>
