<div class="functionality">
	<h3>Storage & Portability</h3>
	<p>
		HappyHealth is a Patient Health Record on over-drive! Not only can you store your basic health information online like most PHRs, we go the extra step by putting your information <i>to work</i> as it helps you register with doctor's offices, across multiple specialties. 
	</p>
</div>

<div class="functionality">	
	<h3>Convenience</h3>
	<p>
		No more filling-out redundant doctor office paperwork, every time you see a new physician, or have to update your information. You're free to focus on the particulars of your visit; now if only we could get doctors to be on-time for their appointments ...
	</p>
</div>

<div class="functionality">
	<h3>Security & Control</h3>
	<p>
		You can rest safely in knowing your health registration data is protected with banking-level security - everything is encrypted so that not even <i>we</i> can see your private information. And any information you don't feel comfortable disclosing, leave if off our digital form, and write it manaully on your paper copies.
	</p>
</div>

