<h1>About Us</h1>

<div id="tabs">
	<ul>
		<li><a href="#tabs-1">How It Works</a></li>
		<li><a href="#tabs-2">Why Happy Health</a></li>
		<li><a href="#tabs-3">Who We Are</a></li>
	</ul>
	
	<div id="tabs-1">
		<%= render 'how_it_works' %>
	</div>
	<div id="tabs-2">
		<%= render 'why'%>
	</div>
	<div id="tabs-3">
		<%= render 'who_we_are'%>
	</div>

<div>
