<section class="splash-page">
	<h1 id="splash-title">Welcome to HappyHealth</h1>
			<h2 id="subtitle">Concierge Patient Check-in</h2>
		  <p id="splash-text">
		    Simplifying the way you check-in at the doctor's office and register using your basic personal, medical, and insurance information.
		  </p>
	<ul>
		<li class="description">
			<h1>Save</h1>
				<p>
					Save your basic personal, medical, and insurance information onto our secure servers, and maintain access via your mobile device.
				</p>
		</li>
		<li class="description">
			<h1>Send</h1>
				<p>
					When you book an appointment, send us the name and phone number of the physician's office, either via the app or SMS.
				</p>
		</li>
		<li class="description">
			<h1>Sync</h1>
				<p>
					Our system intelligently syncs your registration info with the doctor's office, sparing you the clipboards and paperwork.
				</p>
		</li>
	</ul>
</section>