<section class="splash-page">
	<h1 id="splash-title">Welcome to HappyHealth</h1>
			<h2 id="subtitle">Online Patient Check-in</h2>
		  <p id="splash-text">
		    Simplifying the way you register and check-in for medical appointments. The doctor's office clipboard is <i>history!</i>
		  </p>
	<ul>
		<li class="description">
			<h1>Save</h1>
				<p>
					Save your basic personal, medical, insurance and emergency contact information into a HappyHealth profile. If privacy concerns you, feel absolutely free to leave off any information you aren't comfortable storing.
				</p>
		</li>
		<li class="description">
			<h1>Print</h1>
				<p>
					Find the office where you'll have your appointment, then fill out and print the forms with just a couple clicks. Sign the forms where appropriate and you're done!
				</p>
		</li>
		<li class="description">
			<h1>Check-in</h1>
				<p>
					On the day of your visit, bring the print-outs of your completed forms and give them to the office staff, along with your ID and insurance card ... THAT'S IT! No clipboards, and no further paperwork!
				</p>
		</li>
	</ul>
</section>