<div class="signin">
	
	<%= form_tag sessions_path do %>

	 <!--  <div class="field">
	    <%#= f.label "Sign-in Code" %><br />
	    <%#= f.text_field :username, params[:username] %>
	  </div> -->

	  <% if Rails.env.production? %>
		<%= hidden_field_tag :user_id, 1 %>
		<% else %>
			<%= hidden_field_tag :user_id, 33 %>
		<% end %>
	  

	  <h2 class="center-text">
	  	The HappyHealth WebApp let's you store basic health information then auto-fill medical forms to save time and avoid redundancy.
	  </h2>
	  <br />
	  <h2 class="center-text">
	  	Check it out!
	  </h2>
	  <br />
	  <p class="center-text">
	  	<%= submit_tag "Enter", class: "enter-button" %>
	  </p>
	<% end %>
</div>

