<h1>Notes</h1>

<h2>Add notes as a personal reminder, or as an update to track problems, conditions or your mood.</h2>

<%= render 'form', :note => @note %>

<%#= link_to 'Add New Note', '#', :class=> 'createButton' %>                             
	

<%= paginate(@notes)%>

<div id="notes" class="margin-top">
	<% if @notes != [] %>
			<%= render @notes %>		
	<% else %>
		<h2 class="reminder">You do not have any current notes. Make one now!</h2>
	<% end %>
</div>
