<% values = activity.parameters.values.compact.length %>
<% if values != 0 %>
	<p><%= "#{values} changes made to health profile ( Medical )" %></p>

	<a href="#" class="toggle_activity see-more">See More</a>

	<div style="display: none;" class="profile_changes margin-bottom margin-top">
		<% activity.parameters.keys.each do |key| %>
		  <% if activity.parameters[key] %>
				<p>
					<span class="feed_icon"><%= image_tag "health_prof_small.gif" %></span>
					<span class="lifecycle-verb"><%= "Removed #{activity.recipient_type.downcase} #{key}: #{activity.parameters[key]}" %></span>
				</p>
			<% end %>
		<% end %>
	</div>
<% end %>
