<p>
	Hello! We wanted to inform you that <%= "#{@user.form.personal.first_name @user.form.personal.last_name}" %> is inviting you to become a member of their Care Team and view their online health profile on HappyHealth.
</p>

<p>
	Click
</p>

<%= @greeting %>, find me in app/views/app/views/user_mailer/caregiver_invite.text.erb
