<fieldset class="dashBackground" id="note_<%= note.id %>">
	<legend><%= note.updated_at.localtime.strftime("%I:%M %P | %b %d, %Y") %></legend>
	<p id="note_<%= note.id %>"><%= note.info %></p>
</fieldset>
