<p id="notice"><%= notice %></p>

<h1><%="#{@user}'s Dashboard" %></h1>

<br />

<h2>See your latest notes, upcoming appointments, and manage your profile here</h2>

<div class="widget" id="one">
	<h1>Upcoming Appointments</h1>
	<div class="dashAppointments">
	<% if @appointments != [] %>
		<% @appointments.each do |appointment| %>
			<%= render 'appointment', :appointment => appointment %>
    	<% end %>
	<% else %>
		<i>You don't have any appointments scheduled this week.</i>
	<% end %>
	</div>
</div>

<!-- *****************************************

	COMMENTED OUT FOR BETA!

	*******************************************
	
<div class="widget" id="two">
	<h1>Latest Notes</h1>
	<div class="dashAppointments">
		<%# if @user.notes != []%>
			<%# @user.notes[0..2].each do |note| %>
				<%#= render 'note', :note => note%>
			<%# end %>		
		<%# else %>
			<i>You do not have any current notes. Make one now!</i>
		<%# end %>
	</div>
</div> -->




