<p id="notice"><%= notice %></p>

<h1>Your Lifecycle</h1>

<h2>See a realtime feed of all the latest updates regarding your personal health.</h2>

<!-- <div>
	<button class="submit-button right" title="Tooltip test">Update</button>
</div> -->

<%= render "notes/form", :note => Note.new(:user_id => @user.id) %>

<div class="widget" id="two">
	<div class="dashAppointments">
		<% @activities.each do |activity| %>
  		<fieldset class="dashBackground">
	  		<%#= activity.owner if activity.owner %>
	  		<%= render_activity activity %>
	  		<legend><%= activity.created_at.localtime.strftime("%I:%M %P | %b %d, %Y") %></legend>
	  	</fieldset>
		<% end %>
	</div>
</div>




