<h1>Your Lifecycle</h1>

<h2>See a realtime feed of all the latest updates regarding your personal health.</h2>

<div class="margin-bottom">
	<%= render "notes/form", :note => Note.new(:user_id => @user.id) %>
</div>

<div class="widget" id="two">
	<div class="dashAppointments">
		<% @activities.each do |activity| %>
			<% if values_of_activity_hash(activity.parameters) != []%>
  			<fieldset class="dashBackground">
		  		<%= render_activity activity %>
		  		<legend><%= activity.created_at.localtime.strftime("%I:%M %P | %b %d, %Y") %></legend>
	  		</fieldset>
	  	<% end %>
		<% end %>
	</div>
</div>

<%= paginate @activities %>
