<p id="notice"><%= notice %></p>

<h1>Your Care Plan</h1>

<h2>See your Care Plan, including previous encounters, upcoming appointments, and more.</h2>

<div class="widget" id="one">
	<!-- New Title: Upcoming -->
	<h2>Upcoming Appointments</h2>
	<div class="dashAppointments">
		<% if @appointments != [] %>
			<% @appointments.each do |appointment| %>
				<%= render 'appointment', :appointment => appointment %>
	    	<% end %>
		<% else %>
			<i>You don't have any appointments scheduled this week.</i>
		<% end %>
	</div>
</div>

<!-- *****************************************

	COMMENTED OUT FOR BETA!

	******************************************* -->
	
<div class="widget" id="two">
	<!-- New Title: Previous -->
	<h2>Latest Notes</h2>
	<div class="dashAppointments">
		<% if @user.notes != []%>
			<% @user.notes[0..2].each do |note| %>
				<%= render 'note', :note => note%>
			<% end %>		
		<% else %>
			<i>You do not have any current notes. Make one now!</i>
		<% end %>
	</div>
</div>




