<span class="on-pdf right">
	<%= link_to "Edit Health Form", edit_user_form_path(current_user.id, current_user.form.id), class: "submit-button" %>
	<%= link_to "Continue", '#', class: "createButton continue" %>
</span>