<fieldset class="demoBackground">
	<legend>Medical Information</legend>
	
	<table class="show-table-short">
		<tr>
			<th rowspan="<%=@total_allergies%>">Allergies</th>

		<% if form.medical.allergies[0].info? %>		
			<% form.medical.allergies.each do |allergy| %>
				<td>
					<%= allergy.info %>
				</td>
		</tr>
			<% end %>
		<% else %>
			<tr><td><i>No allergies listed</i></td></tr>
		<% end %>
		
	</table><br />
	
	<table class="show-table-horizontal">
		<thead>
			<th>Medications</th>
			<th>Reason for Taking</th>
		</thead>
	
		<% if form.medical.medications[0].info? %>
			<% form.medical.medications.each do |medication| %>
			
				<tr>
					<td><%= medication.info %></td>
					<td><%= medication.reason %></td>
				</tr>

			<% end %>
					
		<% else %>
			<i>No medications listed</i>
		<% end %>
	
	</table>
</fieldset>
		
	