<fieldset class="demoBackground">
	<legend>Medical Information</legend>
	
	<table>
		<tr>
			<th>Allergies</th>
		</tr>
	
	<% if form.medical.allergies[0].info != "" %>
		
	
			<% form.medical.allergies.each_with_index do |allergy,index| %>
				<tr>
					<% if allergy %>
						<td><%= index+1%>.<%= allergy.info %></td>
					<% end %>
				</tr>
			<% end %>
	<% else %>
		<tr><td><i>No allergies listed</i></td></tr>
	<% end %>
	
	</table><br />
	
	<h3>Medical History</h3>
	
	<% if form.medical.medications[0].info != "" %>
		<table>
		<tr>
			<th>Medication</th>
			<th>Reason</th>
		</tr>
		
		<% form.medical.medications.each do |medication| %>
			<tr>
				<td><%= medication.info %></td>
				<td><%= medication.reason %></td>
			</tr>
		<% end %>
		</table>
	
	<% else %>
		<i>No medications listed</i>
	<% end %>
	
	
</fieldset>
		
	