<style type="text/css">

.container_12{	
/*background: url('https://s3.amazonaws.com/happyhealthapp/assets/signin.jpg') no-repeat;
background-size: 100%;
height: 500px;
background: #f6f6f6;*/
}

</style>

<div class="signin">
	<h2>Sign in</h2>
	<div class="box">
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		  
		  <!-- Comment-out for :username login 

		  <div><label class="sign">Email</label><%#= f.email_field :email, class: "fluid-form" %></div>

		  <div><label class="sign">Password</label><%#= f.password_field :password, class: "fluid-form" %></div> -->

		  <div><label class="sign">Login</label><%= f.text_field :login, class: "fluid-form" %></div>

		  <!-- Comment-out "Remember Me" for Security
		  <%# if devise_mapping.rememberable? -%>
		    <div> <label><input type="checkbox" /> Remember me</label></div>
		  <%# end -%> -->

		  <div class="margin-top"><%= f.submit "Sign in" , :class => 'createButton signin-button'%></div>
		<% end %>
		<br />
		<%= render "devise/shared/links" %>
	</div>
</div>