<ul class="alert inline-block">
	<li>
		<strong>
			NOTICE: This is a PUBLIC, TEST environment. Information could potentially be seen by others when you leave. Don't use authentic information. 
		</strong>
	</li>
	<li class="alert-close">X</li>
</ul>

<h1>Edit your Form</h1>

<%= render 'form'%>

