.clsma {

p {
margin: 0;
padding: 0;
}

#container {
background: url('/images/doctor2.jpg') no-repeat;
left: -14px;
width: 1240px;
height: 1754px;
margin: 0 auto;
position: relative;
}

.pos {
position: absolute;
}

.line-one {
top: 574px;
}

.first-name {
left: 510px;
}

.middle-init {
left: 780px;
}

.last-name {
left: 270px;
}

.line-two {
top: 602px;
}

.user-address {
left: 252px;
}

.line-three {
top: 629px;
}

.city, .employer-city {
left: 213px;
}

.state {
left: 391px;
}

.zip, .employer-zip, .ethnicity {
left: 490px;
}

.phone {
left: 670px;
}

.cell-phone {
left: 910px;
}

.line-four {
top: 656px;
}

.dob {
left: 290px;
}

.sex {
left: 510px;
}

.marital-status, .race, .employer-phone {
left: 698px
}

.user-email {
left: 790px;
}

.line-five {
top: 684px;
}


.line-seven {
top: 780px;
}

.referring-physician {
left: 180px;
}

.line-eight {
top: 810px;
}

.primary-care-physician {
left: 470px;
}

.line-nine {
top: 836px;
}

.line-ten {
top: 863px;
}

.employer-name, .employer-address {
left: 350px;
}

.line-eleven {
top: 890px;
}

.employer-state {
left: 409px;
}

.employer-zip {
left: 533px;
}

.line-twelve {
top: 917px;
}

.social-security-number {
left: 320px;
}

.drivers-license {
left: 720px;
}

.line-fourteen {
top: 994px;
}

.emergency-name {
left: 420px;
}

.emergency-phone {
left: 770px;
}

.emergency-relationship {
left: 1025px;
}



}
