body {
        font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

.container_12 { /*--- id for the grand table housing all the data ---*/
  background: #fff;
  margin: 0 auto;
  width: 980px;
  clear: both;
  box-shadow: 0 10px 20px black;
  overflow: hidden;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding-bottom: 10px;
  height: 100%;
}

ol,
ul {
  list-style: none;
}

li {
  display: list-item;
}

table {
        border-collapse: collapse;
        border-spacing: 0;
        padding-bottom: 10px;
}

header {
        /*width: 960px;
        margin: 0 auto;
        margin-bottom: 10px;
        padding: 0;*/
}

h1 {
    font-size: 28px;
    padding: 10px 0px 0px 10px;
    text-align: center;
}

a, .link {
    color: #00B6E4;
    text-decoration: none;
}

a:hover, .link a:hover {
        text-decoration: underline;
}

aside {
    float: left;
   /* margin: 0 0 20px 20px;
    width: 300px;*/
    margin: 1.02040815326531%;  /*20px/980px = .0208081632653061 */
    width: 30.61224489795918%;  /*300px/980px = .3061224489795918 */
    font-size: 15px;
}

article {
    float: right;
   /* width: 620px;
    margin: 0 40px 20px 0; */
    margin: 0 4.08163265306122% 20px 0; /*20px 980px = .01515151 */
    width: 63.26530612244898%; /*620px 980px = .63636363 */
    font-size: 12px;
}

article h1 {
    color: #555;
}

article h2 {
    color: grey;
}

body {
    font-family: 'Droid Sans', sans-serif;
    padding: 0 0 20px 0px;
    margin: 0px;
}

#main {
    background: url('/images/wood.png');
}

label {
        display: block;
        padding: 7px 0;
        font-size: 14px;
        color: #000066;
}

textarea {
        width: 90%;
}

input {
        font-size: 16px;
}

img {
    color: transparent;
  font-size: 0;
  vertical-align: middle;
}

.center {
    margin: 0 auto;
    background: red;
}

.right {
    float: right;
}

.left {
    float: left;
}

.margin-right {
    margin-right: 10px;
}

.margin-top {
    margin-top: 20px;
}

.margin-bottom {
    margin-bottom: 10px;
}

ul#static.inline-block{
    float: right;
}

.border-bottom {
    border-bottom: 1px dotted #000;
}

.pad-bot, .pad-top {
    padding-bottom: 10px;
}

.inline-block li {
    display: inline-block;
}

.inline, .inline li {
    display: inline;
}



/* ------------------------ SPLASH PAGE ------------------------------ */

.splash, #splashLogin {
        width: 620px;
        height: 445px;
        margin: auto;
        margin-top: 45px;
        background: rgba(255,255,255,0.7);
        border-radius: 10px;
        padding: 10px 0px 10px 0px;
        text-align: center;
        border: 1px solid black;
}

.splash #siteName, #splashLogin #siteName {
        text-align: center;
        font-weight: bold;
}

.splash #siteName img, #splashLogin #siteName img {
        width: 400px;
        margin-bottom: 10px;
}

#splashLogin {
        height: 455px;
}

.splash ul {
        padding: 20px;
        list-style-type: none;
}

.splash li {
        padding-bottom: 5px;
}

.splash li:last-child {
        border: 1px solid grey;
        width: 260px;
        background: white;
        color: black;
        text-align: left;
        padding: 5px;
        margin-left: 60px;
        border-radius: 6px;
}

#splash-title, #subtitle, #splash-text, #signup-text, .headings {
    color: grey;
    font-weight: bold;
    text-align: center;
    /*text-shadow: 0 2px 5px #555;*/
    margin-bottom: 10px;
}

#splash-title {
    font-size: 50px;
    color: #555;
}

#subtitle {
    font-size: 40px;
}

#splash-text, #signup-text {
    font-size: 20px;
    color: grey;
}

.splash-page {
    margin: auto;
    clear: both;
    width: 950px;
}

.explanation {
    margin: 0 auto;
    width: 920px;

}

.description {
    height: 215px;
    padding: 10px;
    margin: 10px 6px;
    background: white;
    box-shadow: 0 2px 5px grey;
    border: 1px solid grey;
    border-radius: 10px;
    float: left;
    width: 280px;
}

.signin h2, .signup h2{
    text-align: center;
    font-size: 20px;
}

.signin, .signup {
    padding: 30px;
    background: white;
    box-shadow: 0 2px 5px grey;
    border: 1px solid grey;
    border-radius: 5px;
    width: 280px;
    height: 330px;
    display: block;
    float: left;
    margin: 60px 0 0 50px;
    opacity:.95;
}

.signup {
    padding: 20px;
    background-color: #f5f5f5;
    height: 100%;
    margin: 39px 0 20px 50px;
}

.pdf-upload {
    float: none;
    margin: 20px auto 0;
}

label.sign{
    font-size: 17px;
}

.box {
    padding: 0 18px;
}

.white-box {
    background: #fff;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 5px;
    margin-top: 10px;
}

.signup-description{
    width: 180px;
    float: right;
    color: grey;
    font-size: 15px;
    margin: 50px 50px 0 0;
    text-align: justify;
}

p.signup-title {
    text-align: center;
    width: 410px;
    float: right;
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin: 42px 90px 0 0;
}

#user_name, #user_email, #user_password, #user_password_confirmation{
    height: 25px;
}

.description h1 {
    padding: 0;
}

.note_field{
    display: block;
}

#note_info{
    font-size: 13px;
    width: 500px;
}

/* ------------------------ BUTTONS ------------------------------ */

.button, .submit-button, .button a, .remove-form, .action-button, .create, #new_user_submit, #login_submit,
#skinclick-submit, .splash a, .saveButton a, .nextButton a,
#print-to a {
    /*display: block;*/
    color: white;
    font-weight: bold;
    margin-right: 10px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #4d4d4d;
    text-shadow: 0 1px 3px black;
    box-shadow: 0 2px 2px grey;
}

.button, .submit-button {
    color: #555;
    background: -webkit-linear-gradient(top, #fff, #ececec);
    text-shadow: 0 1px 3px white;
}

.navi {
    display: inline-block;
    width: 150px;
}

.action-button {
    /*background: -webkit-linear-gradient(top, #00f, #009);*/
    background: -webkit-linear-gradient(top, #f90, #cc7a00);
    font-size: 15px;
}

.eligibility {
    width: 250px;
}

.submit-button {
    font-size: 14px;
}

.short {
    width: 100px;
}

.button:hover, .submit-button:hover, .button a:hover {
    text-decoration: none;
    background: -webkit-linear-gradient(top, #ececec, #ddd);
}

.remove-form {
    background: -webkit-linear-gradient(top, #ff0000, #b20000);
}

.remove-form:hover {
    text-decoration: none;
    background: -webkit-linear-gradient(top, #b20000, #990000);
}

.action-button a {
    color: #fff;
}

.remove-form {
    margin-top: 20px;
}

.form-back {
    margin-top: 10px;
}

.note-edit{
    float:right;
    padding: 0 5px 0 0;
}

.note-delete{
    float: right;
}

.splash p a:hover, .nextButton a:hover, .action-button:hover {
    background: -webkit-linear-gradient(top, #cc7a00, #f90);
    text-decoration: none;
}

.signUpbutton li {
        display: inline-block;
}

.signUpbutton li:last-child {
        margin-right: none;
}

#print-to a {
    width: 30px;
}

.create {
    background: -webkit-linear-gradient ();
}

.back-length{
    width: 110px;
}

/* ------------------------- SHAAN'S BUTTONS ---------------------- */

.createButton, .backButton, .pdfButton, #edit-form.pdfButton, .removeButton {
    display: block;
    background-color: #3366FF;
    color: white;
    font-weight: bold;
    border: 1px solid #000;
    padding: 5px;
    border-radius: 3px;
    width: 150px;
    height: 100%;
    margin: 4px 10px;
    text-align: center;
    box-shadow: 0 1px 1px #444;
}

#edit-form.pdfButton {
    color: white;
}

#appt.createButton, input.createButton, .pdfButton {
	cursor: pointer;
	font-size: 13px;
    height: 34px;
    margin: 0;
    padding: 0;
}

.backButton{
    background: #888;
}

.pdfButton{
    background: -webkit-linear-gradient(top, #3B0, #3A0);
    background:    -moz-linear-gradient(top, #3B0, #3A0);
    background:            -ms-gradient(top, #3B0, #3A0);
}

.removeButton{
    background: -webkit-linear-gradient(top, #F00, #d00);
    background:    -moz-linear-gradient(top, #F00, #d00);
    background:     -ms-linear-gradient(top, #F00, #d00);
}

.signin-button {
    width: 230px;
    margin: 0;
}

input#user_remember_me{
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

div.form_buttons{
    float: right;
    clear: both;
}

ul.form{
    position: relative;
    top:  200px;
    left: -635px;
    width: 250px;
    float:right;
    margin-bottom: -200px;
}

ul.form li{
    float: right;
}

ul.appointment{
    position: relative;
    width: 250px;
    top: 160px;
    left: -635px;
    float: right;
    margin-bottom: -200px;
}

ul.appointment li:hover, ul.form li:hover{
    -webkit-transform: scale(1.07);
       -moz-transform: scale(1.07);
        -ms-transform: scale(1.07);
}

ul.appointment li{
    float:right;
}

label.remember{
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
/*      *overflow: hidden;*/
}

#appt.appt-button, .appt_tab {
    margin-left: 129px;
    font-size: 13px;
    width: 268px;
}

.appt_tab {
    width: 276px;
    border-top: 1px dotted #000;
    margin-top: 10px;
}

a.createButton{
    float: right;
}

a.appt-title{
    color: purple;
/*  text-shadow: 0 .9px black;*/
    text-decoration: underline;
}

.appointment-show{
    width: 500px;
    height: 650px;
}

.note-one{
/*  display: inline-block;*/
    position: relative;
    padding: 0 0 0 25px;
    width: 300px;
    top: -600px;
    left: 10px;
    font-family: "Comic Sans", "Comic Sans MS", cursive;
}

.note-one u, .note-two u{
    text-transform: uppercase;
}

.note-one h2, .note-two h2{
    position: relative;
    text-align: center;
    font-size: 20px;
}

.note-two{
/*  display: none;*/
    position: relative;
    width: 300px;
    top: -600px;
    left: 320px;
    padding: 0 35px 0 0;
    font-family: "Comic Sans", "Comic Sans MS", cursive;
}

.note-one div.mini-note{
    padding: 10px 0 25px 0;
}

.note-two div.mini-note{
    padding: 10px 0 28px 0;
}

.note-two h2{
    padding-left:30px;
}

.note-two u, .note-two p{
    float:right;
}

/* ------------------- SIGNUP AND SIGNIN -------------------------- */

.signUp, .signInSection, #splashSignIn {
        background: white;
        font-size: 18px;
        color: black;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
}

.signInSection, #signUpImage, #splashSignIn {
        float: left;
        margin: 10px;
        width: 305px;
        border: 4px solid #E46C0A;
        overflow: hidden;
        border-radius: 10px;
}

.signInSection h1, .signInSection p, #splashSignIn h1, .contentSection h2, .shadowBox h2 {
        text-align: center;
        /*color: -webkit-radial-gradient(circle, #545454, #3F3F3F);*/
        background: #D1E0FF;
        color: #000066;
        margin: 0px;
        padding: 10px 10px 0 10px;
}

.signInSection p {
        margin: 0;
        padding: 0 0 5px 0;
        font-size: 14px;
        border-bottom: 2px solid #6699ff;
}

.signInSection form, #splashSignIn form, .shadowBox p {
        color: black;
        background: white;
        padding: 10px;
}

.signInSection fieldset li {
        display: inline;
}

#splashSignIn {
        float: none;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 100px;
}

#splashx h1 {
        border-bottom: 2px solid #6699ff;
}

#splashSignIn p {
        font-size: 9px;
        padding: 10px 0;
}

#splashSignIn a:hover {
        text-decoration: underline;
}

#splashSignIn form {
        padding-bottom: 0;
}

#signUpImage {
        background: url("../images/Skincare 2.jpg") no-repeat;
        height: 308px;
        width: 328px;
        margin-top: 80px;
        border: 1px solid grey;
}

#login_username, #login_password, #confirm_password {
        width: 220px;
}


/* --------------------- TRIANGLE CSS -------------------------- */

.triangle-top-whiteClients, .triangle-top-whiteClientClick, .triangle-top-clickExpand {
        position: relative;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-bottom: 20px solid white;
        border-right: 10px solid transparent;
        margin: 0;
        padding: 0;
}

.triangle-top-whiteClients {
        top: -40px;
        left: 8px;
}

.triangle-top-whiteClientClick {
        top: -40px;
        left: -158px;
}

.triangle-top-clickExpand {
        top: -40px;
        left: 500px;
}

.triangle-right {
        position: relative;
        top: 7px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid #D9D9D9;
        padding: 0;
}

.triangle-left-queue-expand {
        position: relative;
        top: 7px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid #D9D9D9;
        padding: 0;
}

/* ------------------------ SITE AND NAVIGATION ------------------------------ */

#nav-tab {
    margin: 10px 10px;
    height: 100%;
}

#nav-tab a {
    display: block;
    border: 2px solid #006;
    margin: 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: #006;
    background: #D1E0FF;
    padding-left: 5px;
}

#nav-tab li.current{
    font-weight:bolder;
}

#nav-tab li:hover {
        -webkit-transform: scale(1.07);
           -moz-transform: scale(1.07);
            -ms-transform: scale(1.07);
}

#nav-tab a:hover {
        text-decoration: none;
}

/*#nav-tab li.selected {
        -webkit-transform: scale(1.07);
}*/

#nav-tab .tab-open {
        -webkit-transform: scale(1.07);
        color: white;
        background: #006;
}

.beta_tag {
    text-transform: uppercase;
    /*color: -webkit-linear-gradient(top, #f90, #cc7a00);*/
    color: #f90;
}

#header {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    padding: 10px 0;
    background: -webkit-linear-gradient(top, #555, #000);
    background:    -moz-linear-gradient(top, #555, #000);
    background:     -ms-linear-gradient(top, #555, #000);
}

#header-content {
    width: 980px;
    margin: 0 auto;

    /*background-image: url('/images/retro_intro.png');*/
}

#header-content li, .nav-links a, #site-name a {
        color: #fff;
        display: inline-block;
}

#site-name a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
}

.nav-links {
    float: right;
    margin-left: 15px;
    font-size: 18px;
    letter-spacing: -1px;
}

.greeting {
    /*font-size: 14px;*/
    /*line-height: 215%;*/
}

#site-name a:hover, .nav-links a:hover {
    color: #00B6E4;
}

#medications li {
        display: block;
}

#print-to {
        float: right;
        margin-bottom: -20px;
}

#print-to li {
        display: inline-block;
        margin-right: 10px;
        color: #555;
        text-shadow: 0 1px #fff;
}

#print-to li:last-child {
        margin-right: -8px;
        padding-right: 0;
}

.fieldset-buttons {
        float: right;
}

.edit-form {
    /*position: relative;
    bottom: 28px;*/
    margin-right: -20px;
}

.on-pdf {
    position: fixed;
    top:  80px;
    right: 200px;
    width: 250px;
    float:right;
}

ul.on-pdf li{
    float: right;
}

.read-more {
        float: right;
}

#user-image {
        width: 915px;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        font-weight: bold;
}

#user-image h1 {
        text-transform: none;
        color: black;
        padding-left: 0;
}

#user-image li h3{
        text-shadow: 0 1px white;
}

#user-image a {
        color: black;
}

#user-image a:hover {
        color: rgb(228, 108, 10);
}

#user-image li {
        color: #555;
        text-shadow: 0 1px #fff;
        display: inline-block;
        /*border: 1px solid black;*/
        padding: 0px;
        margin: 0 10px 10px 0px;
        font-size: 12px;
}

#user-image li:last-child {
        margin-right: 0;
}

#user-image img {
        height: 70px;
        width: 75px;
        border: none;
}

#specialist-photo img {
        height: 70px;
        width: 70px;
        margin: 20px 0 0 20px;
}

/* --------------------- OFFICE_DIALOG --------------*/

.ui-dialog .ui-widget .ui-widget-content .ui-corner-all .ui-draggable .ui-resizable{
    width: 1070px;
    height: 1400px;
    position: absolute;
    left: 0px;
    top: 0px;
}



/*.view_form{
    width: 1070px;
    height: 1400px;
}*/



/* --------------------- FORMS ---------------------- */

/* CSS ATTEMPT FOR FIXED BUTTONS IN ASIDE SECTION

#form {
    position: fixed;
    top: 40%;
    margin-left: 112px;
    background: #ddd;
}

#form li {
    margin-right: 6px;
    margin-bottom: 5px;
    font-size: 12px;
}

aside .form-save {
    position: fixed;
    top: 40%;
    left: 10%;
}

******************************************* */

.demoBackground, .formsBackground {
        border: 1px solid #000066;
        border-radius: 10px;
        background: #D1E0FF;
        float: left;
        width: 580px;
        margin: 10px 10px;
        /*width: 59.18367346938776%;
        margin: 1.02040816326531%;*/
        padding: 5px 10px 10px 10px;
}

.demoBackground h3 {
    color: red;
    font-size: 14px;
    margin: 5px 10px;
}

.formsBackground h2 {
        color: #000066;
        margin: 10px;
}

.formsBackground li, .demoBackground li {
        display: inline-block;
}

.formsBackground legend, .demoBackground legend {
        font-weight: bold;
        color: #000066;
}

.formsBackground textarea {
        width: 425px;
        height: 50px;
}

.formsBackground table img {
        width: 150px;
        height: 63px;
}

.demoBackground ul {
        clear: both;
}

.dashboard #search_bar  {
        width: 227px;
        margin: auto;
}

.dashboard select {
        width: 120px;
}

#TOS  {
    font-style: italic;
}

.formsBackground dd {
        font-style: italic;
        font-size: 13px;
}

.formsBackground td {
        padding-right: 8px;
}

.formFont {
        font-size: 12px;
        color: black;
        display: inline;
}

/* --------------------- SHOW PAGES --------------------------- */

.show-table th {
    text-transform: uppercase;
    line-height: 190%;
    font-size: 75%;
    color: grey;
    text-align: right;
    vertical-align: top;
    min-width: 180px;
}


.show-table td {
    text-align: left;
    padding-left: 10px;
    vertical-align: top;
}


.first-name, .last-name {
    width: 225px;
    margin-right: 5px;
}

.middle-initial {
    width: 50px;
    margin-right: 5px;
}

 .DOB, #pharmacy_name, #pharmacy_phone,
 #specialist_practice, #specialist_address,
 #specialist_address2,  #insurer, #policy_number,
 #credit-card-address, #credit-card-address-2 {
    width: 200px;
    margin-right: 5px;
}

.city, .zipcode, .employer-city, .employer-zipcode,
#specialist_city, #practice_zipcode, #pharmacy_city,
#pharmacy_zipcode, .subscriber-lastname, .subscriber-firstname,
.policy-number  {
    width: 160px;
    margin-right: 5px;
}

.home-phone, .work-phone, .cell-phone, .email, .occupation,
.dependents, .employer, .employer-address, .employer-phone,
.referring-physician, .primary-insurance, .secondary-insurance,
.patient-relationship, .group-number, .group-name, .subscriber-phone,
.subscriber-employer {
    width: 275px;
    margin-right: 5px;
}

.state, #specialist_state, #pharmacy_state {
    width: 10px;
    margin-right: 5px;
}

.address, .emergency-address, .insurance-address, .subscriber-address {
    margin-right: 200px;
}

#cardholer-name, #card-last-name, #credit-card-number {
    width: 130px;
}

.emergency-name, .emergency-city, .emergency-state, .emergency-zipcode,
.emergency-relationship, .emergency-phone, .insurance-city,
.insurance-state, .insurance-zipcode, .subscriber-city,
.subscriber-state, .subscriber-zipcode, .subscriber-social-security,
.subscriber-birthdate {
    width: 180px;
    margin-right: 5px;
}

#credit-card-zipcode, #credit-card-country, #credit-card-city,
#credit-card-states, #ccv-number, #card-type, #expiration-month,
#expiration-year {

}

.yes_no {
        font-size: 10px;
}

.med_conditions, .customer_type {
        font-size: 12px;
}


/*--------------------Shaan's Appointment Edits-----------*/

.appointment-table{
    text-align: center;
    width: 100%;
    line-height: 150%;
    border-collapse: collapse;
    margin: 20px 0 0 40px;
}

.row1{
    margin-bottom: 30px;
    margin-top: 30px;
}

td.appt-column{
    font-variant: small-caps;
    background-color: #696969;
    color: white;
    font-weight: bold;
    font-size: 25px;
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    height: 72px;
    display: block;
    vertical-align: middle;
    border-radius: 5px;
/*  padding-bottom: 10px;*/
}

.appt-column p{
    padding-top: 24px;
}

.office{
    margin-bottom: 25px;
}


.doctor-column{
    font-variant: small-caps;
    /*font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;*/
    font-size: 20px;
}

.office select{
    font-size: 15px;
    width: 268px;
    background: transparent;
    height: 34px;
    padding: 5px;
    border: 1px solid #ccc;
}

input#appointment_appt_date{
    font-size: 15px;
    width: 268px;
    background: transparent;
    height: 34px;
/*  padding: 5px;*/
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ok{
    padding: 0 0 0 3px;
}

.form-button {
    text-align:center;
    float:center;
}

#opener.action-button{
    margin-left: 190px;
}

.appt-info{
    position: relative;
    right: 10px;
    bottom: 70px;
}

/* ------------------Calendar CSS ---------------------*/

#calendar table {
  border-collapse: collapse;
  width: 100%;
}

#calendar td,
#calendar th {
  /*font-family: "Lucida Grande",arial,helvetica,sans-serif;*/
  font-size: 10px;
  padding: 6px;
  border: 1px solid #999;
}

#calendar th {
  background: #DDD;
  color: #666;
  text-align: center;
  width: 14.2857142857143%;
}

#calendar td {
  background: #FFF;
  color: #777;
  height: 80px;
  vertical-align: top;
  font-size: 16px;
}

#calendar .notmonth {
  color: #CCC;
}

#calendar #month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#calendar #month a, #calendar #month a:hover {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}

#calendar .today {
  background-color: #D7F2FF;
}

#calendar ul {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none;
}

#calendar li {
  margin: 0;
  padding: 0;
  font-size: 11px;
  text-align: center;
}


/* ----------------- ABOUT US -------------------- */

.works-table th {
    vertical-align: top;
    padding-right: 10px;
}

.works-table th, .works-table td {
    padding-bottom: 10px;
}

.functionality {
    margin-bottom: 10px;
}

.who {
    text-indent: 10px;
    margin-bottom: 10px;
}


/* ----------------- DASHBOARD CSS --------------------- */

.widget{
    width: 620px;
    /*height: 100%;
    color: #37241E;*/
}

.widget h1{
    text-align: left;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px dotted grey;
    margin: 10px 0;
    padding: 0 0 10px 0;
}

.dashAppointments {
    width: 600px; /* 61.22448979591837% - responsive */
    padding: 10px;
    color: #555;
    background: #eee;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
}
    .dashAppointments dt {
       font-weight: bold;
    }
    .dashAppointments dd {
        text-indent: 10px;
        margin: 5px 0;
    }
    .dashAppointments .dot-bottom {
        border-bottom: 1px dotted #000;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

fieldset.dashBackground {
    /*position: relative;
    border: 1px solid #006;
    border-radius: 10px;
    background: #D6E3B5;
    margin: 10px 10px;
    padding: 5px 5px 5px 5px;
    width: 300px;*/
    /*color: #555;
    background: #eee;*/
    padding: 5px;
    margin-bottom: 10px;
    /*border-radius: 5px;*/
    border-bottom: 1px solid #d6d6d6;
}

fieldset.dashBackground:last-child, .dashBackground p:last-child {
    border-bottom: none;
}

.dashBackground li {
    display: inline-block;
}

.dashBackground legend {
    font-weight: bold;
    color: #006;
    color: #94B3C8;
    color: #37241E;
    color: grey;
    font-size: 10px;
    float: right;
}

.dashBackground ul {
    clear: both;
}

a.see-more{
    float: right;
    color: #017890;
    text-decoration: underline;
}

/* ----------------- FOOTER CSS ------------------------ */

/* footer */

footer {
  width: 980px;
  margin: 20px auto;
}

footer a {
    color: #000;
    text-decoration: none;
}

footer a:hover {
  color: #00B6E4;
}

footer ul li {
  float: right;
  list-style: none;
  margin-right: 5px;
}

footer ul li:first-child {
  float: left;
}

footer ul li:last-child {
  margin-right: 0;
}

/* ----------------- RESET CSS ------------------------- */
.clearfix {
    *view: 1;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;

}

.clearfix:after {
    clear:both;
}

/* --------------- RESPONSIVE DESIGN ------------------- */

@media all and (max-width: 480px) {
    article, aside, form, fieldset,
    .demoBackground, .formsBackground,
    .dashAppointments, .dashBackground,
    #note_info, .widget, .description,
    .splash-page, .signin, .signup, .fluid-form, p a.pdfButton {
        float: none;
        width: 93.9393939393939393%;
        margin: 0 2.0833333333333333%;
    }
    .description {
        height: 100%;
        margin-bottom: 10px;
    }
    .fluid-hide {
        display: none !important;
    }
    .container_12, #header-content {
        width: 95.8333333333333333%;
        margin: 0 2.0833333333333333%;
    }
    .container_12 {
        background: #fff !important;
    }
    .signin, .signup {
        background: #eee;
        padding: 0 0 20px 0;
        margin-top: 20px;
    }
    .signin h2, .signup h2 {
        margin-top: 10px;
    }
    /*.signin {
        position: relative;
        top: 10px;
    }
    .signup {
        position: relative;
        top: 20px;
    }*/
    p.signup-title {
        margin: 40px 5px;
        font-size: 20px;
    }
    #splash-title {
        font-size: 30px;
    }
    #subtitle {
        font-size: 23px;
    }
    #splash-text {
        font-size: 18px;
    }
}