.mhc {

	p {
	margin: 0;
	padding: 0;
	}

	#container {
	left: -30px;
	height: 1650px;
	width: 1270px;
	background: url('/images/doctor3.jpg') no-repeat;
	color: #000;
	font-size: 20px;
	position: relative;
	}


	.pos {
	position: absolute;
	}

	.row-one {
	left: 150px;
	}

	.line-one {
	/*position: absolute;*/
	top: 275px;
	}

	.last-name {
	/*left: 170px;*/
	}

	.middle-init, .state {
	left: 950px;
	}

	.first-name, .zip {
	left: 580px;
	}	

	.line-two {
	/*position: relative;*/
	top: 365px;
	}

	.user-address {
	/*left: 252px;*/
	}

	.gender {
	right: 150px;
	}

	.line-three {
	top: 445px;
	}

	.line-four {
	/*position: absolute;*/
	top: 500px;
	}

	.state {
	left: 750px;
	}

	.zip, .employer-zip, .ethnicity {
	left: 930px;
	}

	.phone {
	left: 650px;
	}

	.cell-phone {
	left: 910px;
	}

	.sex {
	left: 510px;
	}

	.marital-status, .race, .employer-phone {
	left: 698px
	}

	.user-email {
	left: 790px;
	}

	.line-five {
	top: 684px;
	}


	.line-seven {
	top: 780px;
	}

	.referring-physician {
	left: 180px;
	}

	.line-eight {
	top: 810px;
	}

	.primary-care-physician {
	left: 470px;
	}

	.line-nine {
	top: 836px;
	}

	.line-ten {
	top: 860px;
	}

	.line-eleven {
	top: 960px;
	}

	.insurance-group-number {
		left: 630px;
	}
	
	.line-twelve {
	bottom: 600px;
	}

	.employer-name {
	left: 430px;
	}

	.employer-address {
		left: 600px;
	}

	.employer-city {
	left: 800px;
	}

	.employer-state {
	left: 900px;
	}

	.employer-zip {
	left: 970px;
	}

	.line-fourteen {
	bottom: 360px;
	}

	.emergency-name {
	left: 420px;
	}

	.emergency-phone {
	left: 740px;
	}

	.emergency-relationship {
	left: 455px;
	}
}
