<div class="on-pdf" id="pdf_link">
	<%= link_to "Edit Health Form", edit_user_form_path(current_user.id, current_user.form.id), class: "submit-button margin-right" %>
	<%= link_to "Continue", '#', class: "button", id: "continue" %>
</div>