<footer class="footer">
	<ul>
		<li>
			&copy; HappyHealth 2012-2013, <i>all rights reserved</i>
		</li>
		<li>Privacy</li>
		<li>Terms |</li>
		<li>
			<a href="mailto:info@happyhealth.me?subject=New%20Office%20Request&body=Hi%20HappyHealth.%20My%20name%20is%0D%0A%0D%0ACan%20you%20please%20add%20the%20following%20Office%20information%20to%20your%20site?%0D%0A%0D%0AOffice%20name:%0D%0AOffice%20phone%20number:%0D%0AMy%20appointment%20Date:%0D%0A%0D%0AThanks%20so%20much%20and%20keep%20rocking%20on!">Contact</a> |
		</li>				
	</ul>			
</footer>