<footer class="footer">
	<ul>
		<li>
			&copy; HappyHealth 2012-2013, <i>all rights reserved</i>
		</li>
		<li>Privacy</li>
		<li>Terms |</li>
		<li>
			<a href="mailto:info@happyhealth.me">Contact</a> |
		</li>				
	</ul>			
</footer>