<div id="header">
	<header id="header-content">
	     <ul>
	        <li id="site-name">
	        	<% if current_user %>
	        		<%= link_to "HappyHealth", logout_path, confirm: "This will log you out of the registration platform, and take you back to the consumer site.", title: "Logout and go back to the consumer site" %><span class="beta_tag">beta</span>
	        	<% else %>
	        		<a href="http://www.happyhealth.me" title="Go back to the consumer site">HappyHealth</a><span class="beta_tag">beta</span>
	        	<% end %>
	        </li>
        	<li class="nav-links">
        		<% if current_user %>
							<%=link_to "Sign out", logout_path %>
						<% else %>
							<%=link_to "Sign In", enter_path %>
					 	<% end %>
					</li>
				<!-- <li class="nav-links fluid-hide">
					<%#=link_to "About Us", about_path%>
				</li> -->
			<% if current_user %>
				<!-- <li class="nav-links">
					<%#=link_to "Dashboard", root_path %>
				</li> -->
				<li class="nav-links greeting">
					<%#= link_to "Hello #{current_user.to_s}", edit_user_registration_path  %>
					<%= "Hello #{current_user.to_s}" %>
				</li>
			<% end %>
	     </ul>
	</header>
</div>
