<ul class="margin-top border-top padding-top">
    <li class="margin-bottom">
      <p>
      	Don't see your particular office? Contact us at least 3 days before your visit, and we'll add it to our system. Try it!
      </p>
    </li>
    <li>
      <a href="mailto:info@happyhealth.me?subject=New%20Office%20Request&amp;body=Hi%20HappyHealth.%20My%20name%20is%20[name]%0D%0A%0D%0ACan%20you%20please%20add%20the%20following%20Office%20information%20to%20your%20site?%0D%0A%0D%0AOffice%20name:%20[office_name]%0D%0AOffice%20phone%20number:%20[phone_number]%0D%0AMy%20appointment%20Date:%20[appt_date]%0D%0A%0D%0AContact%20Email:%20[email]%0D%0A%0D%0AThanks%20so%20much%20and%20keep%20rocking%20on!" title="Request a new Doctor's Office (will automatically open your email client)" class="action-button block">New Office Request</a>
    </li>
</ul>