<table class="top-panel">
	<!-- <ul class="panel-content inline">
		<li>Profile pic</li>
		<li></li>
		<li></li>
	</ul>-->

	<thead>
		<th>
			Tammy Lee
		</th>
		<th>Biometrics</th>		
		<th>Cholesterol</th>
		<th>Blood Pressure</th>
		<th>Hemoglobin A1c</th>
		<th>BloodType</th>
	</thead>
	<tbody>
		<tr>
			<td class="user-panel-image">
				<ul class="inline-block margin-top">
					<li class="left"><%= image_tag "patient_photo.jpg" %></li>
					<li>
						<p><strong><u>Conditions:</u></strong></p>
						<p>
							<%= current_user.form.medical.problems[0].condition %>
						</p>
														
					</li>
				</ul>	
			</td>
			<td>
				<ul>
					<li>Height: <span class="normal">5</span> ft. <span class="normal">5</span> in.</li>				
					<li>Weight: <span class="mid-risk">202.6</span> lbs<span class="vitals-tip" title="Doctors suggest you should weigh yourself once a week at the same time of day for consistent results.">?</span> </li>
					<li>BMI: <span class="mid-risk">26.3</span><span class="vitals-tip" title="BMI is an estimate of body fatness. In general, the higher your BMI, the greater your risk for health problems like high blood pressure, diabetes, high cholesterol and heart disease.">?</span></li>
			</td>
			<td>	
				<ul>
					<li>
						Triglycerides: 
						<span class="normal">82</span><span class="vitals-tip" title="One particular type of fat in the body. Being overweight, physically inactive, drinking too much alcohol, or eating a diet very high in carbohydrates can raise triglycerides.">?</span>
					</li>
					<li>
						LDL: 
						<span class="high-risk">121</span><span class="vitals-tip" title="The 'bad' cholesterol. Too much can lead to fat build-up in blood levels. Your LDL target range depends on your personal risk factors. Talk to your doctor to learn more about your target range.">?</span>
					</li>
					<li>
						HDL: 
						<span class="normal">44</span><span class="vitals-tip" title="The 'good' cholesterol. It helps remove 'bad' cholesterol from your body. The higher your HDL, the lower your chance of getting heart disease -> higher is better.">?</span>
					</li>
				</ul>
			</td>
			<td>
				<ul>
					<li>Systolic: <span class="normal">98</span><span class="vitals-tip" title="Blood pressure is written as two numbers. The top number called systolic is the pressure as your heart beats and pushes blood through the blood vessels. The high range for blood pressure numbers is different for people with diabetes.">?</span></li>
					<li>Diastolic: <span class="normal">60</span><span class="vitals-tip" title="The bottom number called diastolic is the pressure against your blood vessel walls between heartbeats. The high range for blood pressure numbers is different for people with different diseases.">?</span></li>
				</ul>
			</td>
			<td>
				<h2 class="normal">4.9<span class="vitals-tip" title="Hemoglobin measures how much blood sugar is in your blood over the past 2 to 3 months. If your results are in the above normal or high range, see your doctor for more testing.">?</span></h2>
			</td>
			<td>
				<h2>O+<span class="vitals-tip" title="Your blood type is a classification of blood based on the presence or absence of inherited antigenic substances on the surface of red blood cells. During blood transfusion, patients should ideally receive their own blood or type-specific blood products to minimize the chance of a transfusion reaction.">?</span></h2>
			</td>
		</tr>
	</tbody>
</table>